
#content{
    width: 96%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 32px;

    overflow-y: auto;
    z-index: 100;

    padding-bottom: 100px;
}


.standard-text{
    text-align: justify;
    color: var(--secondaryColor);
    font-size: 18px;
    width: 51%;
}


.split-line-title{
    border-bottom: 3px solid var(--accentColor);
    width: 55%;
    height: 54px;

    box-sizing: border-box;
    padding-left: 32px;

    text-align: left;
    line-height: 54px;

    font-size: 22px;
    color: var(--accentColor);

    margin-top: 32px;
    margin-bottom: 32px;
}

.split-line{
    min-width: 100%;
    min-height: 3px;

    background-image: linear-gradient(90deg, transparent, var(--accentColor) 2%, var(--accentColor) 92%, transparent);

    z-index: 50;
}

.line-title{

    padding-left: 32px;
    padding-right: 32px;

    margin-left: 32px;
    margin-bottom: -23px;

    height: 45px;
    line-height: 45px;

    /* background-image: linear-gradient(90deg, transparent, var(--primaryColor) 8%, var(--primaryColor) 92%, transparent); */
  
    background-image: url('../imgs/backgorunds/itBack.png');
    background-size: 180% 200%;
    background-attachment: fixed;

    color: var(--accentColor);
    font-size: 22px;

    align-self: flex-start;

    z-index: 100;

    position: relative;
}

.title-header{
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    
    margin-top: 100px;
    margin-bottom: 45px;
}

.showcase{
    width: 54%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.signed-icon{
    width: 280px;
    height: 110px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;
}

.long{
    width: auto;
}

.icon{
    width: 30px;
    height: 30px;

    object-fit: scale-down;

    margin-right: 16px;
}

.rating-frame{
    
    width: 310px;
    /* height: 65px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-left: 35px;
    margin-right: 35px;

    margin-bottom: 45px;
}

.rating-line{
    margin-top: -22px;
    height: 4px;
    width: 100%;

    border-radius: 6px;

    background-image: linear-gradient(90deg, white, white 0%, #7D7D7D 0%);
}

ul{
    width: 51%;
}

li{
    color: var(--secondaryColor);
    margin-bottom: 32px;
    font-size: 18px;

    opacity: 0;
}

.img-link{
    color: white;
    cursor: pointer;

    transition: ease-in-out .15s;
}

.img-link:hover{
    color: var(--accentColor);
}