@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

html{
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;


    --bcgColor: #413939; 
    --secColor: #4F4848;
    --secLightColor: #575050;

    
    background-color: var(--bcgColor); 


    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}


#footer{
    display: block;

    margin-top: 350px;
    width: 100%;
    height: 40px;
    text-align: right;

    box-sizing: border-box;
    padding-right: 30px;
    
    background-color: var(--secLightColor);
    color: white;
    font-size: 18px;
    line-height: 40px;
}

a{
    text-decoration: none;
}


.button{
    height: 35px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--secColor);

    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;

    transition: ease-in-out .15s;
}

.button:hover{
    background-color: var(--secLightColor);
}

.buttons-section{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-left: 30px;
}


@keyframes color-rotate {
    0%{ filter: hue-rotate(0); }
    100%{ filter: hue-rotate(360deg); }
}