
@media(max-width: 1160px){

    #header-title{
        font-size: 24px;
    }
    
    .menu-button{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

}

@media(max-width: 950px){

    #header-title{
        margin-left: 15px;
        margin-bottom: 36px;
        font-size: 20px;
    }

    #menu{
        flex-direction: column;
    }

    nav{
        flex-direction: column;
        width: 100%;
        height: 0px;

        transition: ease-in-out .2s;

        overflow: hidden;
    }

    .menu-button{
        padding-left: 32px;
        padding-right: 32px;
    
        height: 35px;
        /* width: 100px; */
        white-space: nowrap;
    
        border-top: none;
        border-bottom: none;
    
        text-align: center;
        line-height: 35px;
    
        text-decoration: none;
        font-size: 20px;
    
        transition: ease-in-out .15s;
    
        cursor: pointer;
    }

    .first-element, .last-element, .active.first-element, .active.last-element{
        border: none;
    }

    .menu-button:hover{
        border: none;
    }

    #top-line-short{
       display: none;
    }

    .hamburger{
        display: initial;
    }

    #top-line-long{
        margin-left: -40px;
        width: 91%;
    }
    
    .mobile-menu:checked ~ .hamburger .hamburger-line {
        background: transparent;
    }
    
    .mobile-menu:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top:0;
    
    }
    
    .mobile-menu:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top:0;
    }
}